<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>RESTful Service Authentication</display-name>
    <servlet>
        <servlet-name>ProdutoResource</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CORSFilter</servlet-name>
        <url-pattern>/CORSFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoResource</servlet-name>
        <url-pattern>/apiv3/produtos/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsuarioResource</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CORSFilter</servlet-name>
        <servlet-class>services.CORSFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioResource</servlet-name>
        <url-pattern>/apiv3/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>services.RestAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/apiv3/*</url-pattern>
    </filter-mapping>
</web-app>
